<!DOCTYPE html>
<html>
  <head>
    <title>sketch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/sketch.js"></script>
  </head>
  <body>
    <canvas id="canvas" width="640" height="320"></canvas>
  </body>
</html>
